<div>
  <div class="panel panel-default">

    <div class="panel-heading">
      <button class="btn btn-primary" data-ng-click="openAddTeamModal()">
        <span class="glyphicon glyphicon-circle-arrow-right"></span> <span>Add Team&nbsp;</span>
      </button>
    </div>

    <div class="panel-body">
      <div class="col-md-3">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="col-md-2">Groups</th>
                <th class="col-md-1"></th>
              </tr>
              </thead>
              <tbody>
              <tr data-ng-repeat="group in teams track by $index"
                  data-ng-click="detailTeam($index)"
                  data-ng-class="{'background-select': focus == $index}">
                <td>{{group.teamName}}</td>
                <td>{{group.rating}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6" style="margin-top:20px">
        <div class="row" data-ng-if="focus != -1">
          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label class="col-md-3 control-label" for="field_team">Team name</label>
              <div class="col-md-8">
                <input class="form-control" data-ng-model="change.teamName" type="text" id="field_team">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="field_project">Project name</label>
              <div class="col-md-8">
                <input class="form-control" data-ng-model="change.projectName" type="text" id="field_project">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="field_rating">Global rating</label>
              <div class="col-md-8">
                <input class="form-control" data-ng-model="change.rating" type="number" id="field_rating" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Team members</label>
              <div class="col-md-8">
                <table class="table table-striped customTab">
                  <tbody style="max-height: 160px;">
                  <tr data-ng-repeat="member in change.members track by $index">
                    <td><input class="form-control" data-ng-model="change.members[$index]" type="text" required></td>
                    <td class="text-center">
                      <div class="col-md-9" style="padding-right: 0">
                        <button class="btn btn-danger btn-xs pull-right"
                                data-ng-click="removeMember(change.members, $index)"><span
                          class="glyphicon glyphicon-remove"></span></button>
                      </div>
                      <div class="col-md-2" style="padding-right: 0">
                        <div class="row">
                        <span class="glyphicon glyphicon-chevron-up pull-right buttonLike" style="font-size: 80%"
                              data-ng-click="moveMember(change.members, $index, 'up')"></span>
                        </div>
                        <div class="row">
                        <span class="glyphicon glyphicon-chevron-down pull-right buttonLike" style="font-size: 80%"
                              data-ng-click="moveMember(change.members, $index, 'down')"></span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-1">
                <button class="btn btn-secondary pull-right" data-ng-click="addMember(change.members)"
                        style="margin-left: 2px">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input class="btn btn-primary btn-edit" data-ng-click="saveChanges()" value="Save Changes"
                       type="button"/>
                <span></span>
                <input class="btn btn-default" data-ng-click="cancelChanges()" value="Cancel" type="button"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
