<form name="editForm" role="form" novalidate>
  <div class="modal-header">
    <h2 class="modal-title" id="myOrderLabel">Team : creation</h2>
  </div>
  <div class="modal-body" style="display: flex">

    <div class="col-md-12">
      <div class="row col-md-12">
        <form class="form-horizontal" role="form">

          <div class="form-group" style="display: flex">
            <label class="col-md-3 control-label" for="field_team">Team name</label>
            <div class="col-md-8">
              <input class="form-control" data-ng-model="change.teamName" type="text" id="field_team" required>
            </div>
          </div>
          <div class="form-group" style="display: flex">
            <label class="col-md-3 control-label" for="field_project">Project name</label>
            <div class="col-md-8">
              <input class="form-control" data-ng-model="change.projectName" type="text" id="field_project" required>
            </div>
          </div>
          <div class="form-group" style="display: flex">
            <label class="col-md-3 control-label" for="field_rating">Global rating</label>
            <div class="col-md-8">
              <input class="form-control" data-ng-model="change.rating" type="number" id="field_rating" required>
            </div>
          </div>
          <div class="form-group" style="display: flex">
            <label class="col-md-3 control-label">Team members</label>
            <div class="col-md-8">
              <table class="table table-striped customTab">
                <tbody style="max-height: 160px;">
                <tr data-ng-repeat="member in change.members track by $index">
                  <td><input class="form-control" data-ng-model="change.members[$index].name" type="text" required></td>
                  <td class="text-center">
                    <div class="col-md-9" style="padding-right: 0">
                      <button class="btn btn-danger btn-xs pull-right"
                              data-ng-click="removeMember(change.members, $index)"><span
                        class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="col-md-2" style="padding-right: 0">
                      <div class="row">
                        <span class="glyphicon glyphicon-chevron-up pull-right buttonLike" style="font-size: 80%"
                              data-ng-click="moveMember(change.members, $index, 'up')"></span>
                      </div>
                      <div class="row">
                        <span class="glyphicon glyphicon-chevron-down pull-right buttonLike" style="font-size: 80%"
                              data-ng-click="moveMember(change.members, $index, 'down')"></span>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-1">
              <button class="btn btn-secondary pull-right" data-ng-click="addMember(change.members)"
                      style="margin-left: 2px">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-disabled="isBusy"
            data-ng-click="quit()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" formnovalidate data-ng-disabled="editForm.$invalid || isBusy"
            class="btn btn-primary"
            data-dismiss="modal"
            data-ng-click="create()">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Create</span>
    </button>
  </div>
</form>
